// $main-color: #0c6170;
$slogan-zIndex: 2;
$menu-btn-zIndex: 1000;

* {
  box-sizing: border-box;
}

#menu-btn {
  cursor: pointer;

  position: absolute;
  z-index: $menu-btn-zIndex;
  top: 3%;
  right: 5%;
  width: 150px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 10px 10px;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
}

#my-scrollbar {
  width: 100%;
  height: 1000px;
  overflow: auto;
}

#menu-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $main-color;

  margin-right: 10px;

  border-radius: 50%;
}

#menu-word {
  display: inline-block;
}

.main {
  background-image: linear-gradient(
    90deg,
    #bbcbca,
    rgba(241, 244, 244, 0),
    #bbcbca
  );
}

#app {
  position: relative;
}

#main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#slogan {
  user-select: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $slogan-zIndex;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 35%;
  height: 50px;

  font-family: "Noto Serif TC", serif;
  font-size: 28px;
  overflow: hidden;
  color: gray;

  span {
    transform: translateY(50px);
  }
}

#three-main {
}

#info-main {
  width: 100%;
  height: 1000px;
  background: rgba(128, 128, 128, 0.425);
}

#console-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 500px;
  padding: 10px 10px;
  background-color: transparent;

  .light-block {
    padding: 10px 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
  }

  .value-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 30px;
    background-color: transparent;
  }

  .title {
    display: inline-block;
    width: 120px;
    background-color: transparent;
  }
}
