$slogan-zIndex: 2;

* {
  box-sizing: border-box;
}

.main {
  background-image: linear-gradient(
    90deg,
    #bbcbca,
    rgba(241, 244, 244, 0),
    #bbcbca
  );
}

#app {
  position: relative;
}

#main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#three-main {
  display: inline-block; // <--- Key Point
}

#slogan {
  user-select: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $slogan-zIndex;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 35%;
  height: 50px;

  font-family: "Noto Serif TC", serif;
  font-size: 28px;
  overflow: hidden;
  color: gray;

  span {
    transform: translateY(50px);
  }
}

#console-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 500px;
  padding: 10px 10px;
  background-color: transparent;

  .light-block {
    padding: 10px 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
  }

  .value-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 30px;
    background-color: transparent;
  }

  .title {
    display: inline-block;
    width: 120px;
    background-color: transparent;
  }
}
