* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#menu-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 3%;
  right: 5%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
}

#my-scrollbar {
  width: 100%;
  height: 1000px;
  overflow: auto;
}

#menu-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #0c6170;
  margin-right: 10px;
  border-radius: 50%;
}

#menu-word {
  display: inline-block;
}

.main {
  background-image: -webkit-gradient(linear, left top, right top, from(#bbcbca), color-stop(rgba(241, 244, 244, 0)), to(#bbcbca));
  background-image: linear-gradient(90deg, #bbcbca, rgba(241, 244, 244, 0), #bbcbca);
}

#app {
  position: relative;
}

#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#slogan {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  height: 50px;
  font-family: "Noto Serif TC", serif;
  font-size: 28px;
  overflow: hidden;
  color: gray;
}

#slogan span {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

#info-main {
  width: 100%;
  height: 1000px;
}

#console-panel {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
  background-color: transparent;
}

#console-panel .light-block {
  padding: 10px 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#console-panel .value-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  background-color: transparent;
}

#console-panel .title {
  display: inline-block;
  width: 120px;
  background-color: transparent;
}

#about {
  position: relative;
  width: 80%;
  height: 100%;
}

#about ul {
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
}

#about li {
  cursor: pointer;
  width: 500px;
  height: 200px;
  list-style: none;
}

#about li > div {
  position: relative;
  width: 100%;
  height: 100%;
}

#about .about-btn-icon {
  width: 200px;
  height: 200px;
  position: absolute;
  content: "";
  background-color: transparent;
  z-index: 5;
  top: -100px;
  left: -33%;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

#about .arrow {
  fill: transparent;
  stroke: white;
  z-index: 5;
}

#about .speed-arrow {
  fill: white;
  stroke: transparent;
}

#about .about-btn-icon-arrow {
  width: 200px;
  height: 200px;
  position: absolute;
  content: "";
  background-color: transparent;
  z-index: 1;
  -webkit-transition: ease-out 0.15s;
  transition: ease-out 0.15s;
  opacity: 1;
}

#about .about-btn-icon-circle {
  width: 200px;
  height: 200px;
  position: absolute;
  content: "";
  background-color: #0c6170;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

#about .about-btn-icon-speed-arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: transparent;
  z-index: 0;
  top: 0;
  left: 0;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}

#about .about-svg-text {
  z-index: 10;
  stroke: white;
  stroke-width: 1px;
  fill: white;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

#about .is-hover .about-btn-icon-arrow {
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: linear 0s;
  transition: linear 0s;
}

#about .is-hover .about-btn-icon-circle {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#about .is-hover .about-btn-icon-speed-arrow {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

#about .is-hover .about-svg-text {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

#about .about-btn-body {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: transparent;
  z-index: 10;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */