<div class="main">
  <div id="app">
    <!-- <div id="console-panel">
      <div id="light">
        <div class="light-block">
          <div>Main Light</div>
          <div class="value-block">
            <span class="title">X: {{ three.lights.main.position.x }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.main.position.x"
            />
          </div>
          <div class="value-block">
            <span class="title">Y: {{ three.lights.main.position.y }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.main.position.y"
            />
          </div>
          <div class="value-block">
            <span class="title">Z: {{ three.lights.main.position.z }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.main.position.z"
            />
          </div>
          <div class="value-block">
            <span class="title">t-X: {{ three.lights.main.targetPos.x }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.main.targetPos.x"
            />
          </div>
          <div class="value-block">
            <span class="title">t-Y: {{ three.lights.main.targetPos.y }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.main.targetPos.y"
            />
          </div>
          <div class="value-block">
            <span class="title">t-Z: {{ three.lights.main.targetPos.z }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.main.targetPos.z"
            />
          </div>
          <div class="value-block">
            <span class="title"
              >Intensity: {{ three.lights.main.intensity }}</span
            >
            <input
              type="range"
              :min="three.lights.main.minIntensity"
              :max="three.lights.main.maxIntensity"
              step="0.01"
              v-model="three.lights.main.intensity"
            />
          </div>
        </div>
        <div class="light-block">
          <div>Second Light</div>
          <div class="value-block">
            <span class="title">X: {{ three.lights.second.position.x }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.second.position.x"
            />
          </div>
          <div class="value-block">
            <span class="title">Y: {{ three.lights.second.position.y }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.second.position.y"
            />
          </div>
          <div class="value-block">
            <span class="title">Z: {{ three.lights.second.position.z }}</span>
            <input
              type="range"
              min="-10"
              max="10"
              step="0.01"
              v-model="three.lights.second.position.z"
            />
          </div>
        </div>
      </div>
    </div> -->
    <div id="menu-btn">
      <div id="menu-circle"></div>
      <div id="menu-word">
        <span v-for="(item, index) in menuWord" :key="index">{{ item }}</span>
      </div>
    </div>
    <div>
      <div id="my-scrollbar" class="scroll-content" data-scroll>
        <div id="main-content">
          <div id="slogan">
            <span
              :id="'slogan-' + index"
              v-for="(item, index) in sloganWords"
              :key="index"
              >{{ item }}</span
            >
          </div>
          <div id="three-main" ref="container"></div>
          <div id="about-main">
            <div id="about-product">
              <div class="product-circle">
                <img src="assets/circle01.svg" alt="" />
              </div>
            </div>
            <div id="about">
              <ul>
                <li
                  @mouseenter="onMouseEnterHandler(0)"
                  @mouseleave="onMouseLeaveHandler(0)"
                >
                  <div class="about-btn">
                    <div class="about-btn-icon">
                      <div class="about-btn-icon-arrow">
                        <svg class="arrow" viewBox="-40 -40 100 100">
                          <path
                            d="M12.83.21,10,3l4.32,4.31H1v4H14.16L10,15.45l2.83,2.82,9.16-9Z"
                          />
                        </svg>
                      </div>
                      <div class="about-btn-icon-circle"></div>
                      <span class="about-btn-icon-speed-arrow">
                        <svg class="speed-arrow" viewBox="-40 -40 100 100">
                          <path
                            d="M12.83.21,10,3l4.32,4.31H1v4H14.16L10,15.45l2.83,2.82,9.16-9Z"
                          />
                        </svg>
                      </span>
                    </div>
                    <div class="about-btn-body">
                      <svg
                        id="Flavor"
                        class="about-svg-text about-fill"
                        :class="{ 'un-hover': hoverIndex !== 0 && hoverIndex !== -1 }"
                        viewBox="0 0 250 55"
                      >
                        <title>flavor</title>
                        <path
                          d="M6.17,11.47H39.75v7.45H14.94V32.86H38.19v7.45H14.94v21H6.17Z"
                          transform="translate(-6.17 -8.62)"
                        />
                        <path
                          d="M46.32,61.31V8.62H54.9V61.31Z"
                          transform="translate(-6.17 -8.62)"
                        />
                        <path
                          d="M93.76,52.41a70.06,70.06,0,0,0,.51,8.9h-8.2a17.13,17.13,0,0,1-.55-4.14c-1.32,2.25-4,5-10.83,5-8.82,0-12.56-5.78-12.56-11.46,0-8.35,6.64-12.18,17.53-12.18h5.72V35.9c0-2.9-1-6.08-6.66-6.08-5.12,0-6.1,2.36-6.66,5.13h-8.2C64.39,29,68.05,23.46,79,23.51c9.53,0,14.74,3.83,14.74,12.45ZM85.4,44H80.46c-6.68,0-9.68,2-9.68,6.22,0,3.17,2.07,5.66,6.12,5.66,7.53,0,8.5-5.15,8.5-10.82Z"
                          transform="translate(-6.17 -8.62)"
                        />
                        <path
                          d="M107.8,24.37c4.14,13.63,7.37,24.72,8.27,29.23h.08c1-5.24,4.73-16.35,8.94-29.23h8.61L120.41,61.31h-9.15L98.58,24.37Z"
                          transform="translate(-6.17 -8.62)"
                        />
                        <path
                          d="M172,42.77c0,10.95-6.44,19.41-18,19.41-11.08,0-17.64-8.18-17.64-19.25s6.62-19.42,18.1-19.42C165.12,23.51,172,31.18,172,42.77Zm-26.87.07c0,7.54,3.48,12.48,9.14,12.48s9-4.81,9-12.43c0-8-3.24-12.53-9.12-12.53C148.48,30.36,145.15,34.76,145.15,42.84Z"
                          transform="translate(-6.17 -8.62)"
                        />
                        <path
                          d="M179.59,34.4c0-4.32,0-7.42-.07-10h8.41c.12.92.24,4.25.24,6.94,1.76-4.56,5.9-7.7,12.1-7.8v8.3c-7.48,0-12.1,2.82-12.1,12.61V61.31h-8.58Z"
                          transform="translate(-6.17 -8.62)"
                        />
                      </svg>
                    </div>
                  </div>
                </li>
                <li
                  @mouseenter="onMouseEnterHandler(1)"
                  @mouseleave="onMouseLeaveHandler(1)"
                >
                  <div>
                    <div class="about-btn-icon">
                      <div class="about-btn-icon-arrow">
                        <svg class="arrow" viewBox="-40 -40 100 100">
                          <path
                            d="M12.83.21,10,3l4.32,4.31H1v4H14.16L10,15.45l2.83,2.82,9.16-9Z"
                          />
                        </svg>
                      </div>
                      <div class="about-btn-icon-circle"></div>
                      <span class="about-btn-icon-speed-arrow">
                        <svg class="speed-arrow" viewBox="-40 -40 100 100">
                          <path
                            d="M12.83.21,10,3l4.32,4.31H1v4H14.16L10,15.45l2.83,2.82,9.16-9Z"
                          />
                        </svg>
                      </span>
                    </div>
                    <div class="about-btn-body">
                      <svg
                        id="Feature"
                        class="about-svg-text about-fill"
                        :class="{ 'un-hover': hoverIndex !== 1 && hoverIndex !== -1 }"
                        viewBox="0 0 250 52"
                      >
                        <title>feature</title>
                        <path
                          d="M6.17,11.47H39.75v7.45H14.94V32.86H38.19v7.45H14.94v21H6.17Z"
                          transform="translate(-6.17 -11.47)"
                        />
                        <path
                          d="M52.89,44.59c0,5.86,3,10.73,8.57,10.73,4.94,0,6.44-2.27,7.51-4.71h8.6c-1.38,4.62-5.38,11.57-16.35,11.57-11.93,0-17-9.25-17-18.86C44.25,32,50,23.51,61.61,23.51c12.35,0,16.49,9.34,16.49,18a25.35,25.35,0,0,1-.12,3.1Zm16.59-5.52c-.08-5.06-2.37-9.22-7.92-9.22s-7.94,3.87-8.45,9.22Z"
                          transform="translate(-6.17 -11.47)"
                        />
                        <path
                          d="M114.86,52.41a72.61,72.61,0,0,0,.5,8.9h-8.19a17.05,17.05,0,0,1-.56-4.14c-1.32,2.25-4,5-10.82,5-8.82,0-12.56-5.78-12.56-11.46,0-8.35,6.63-12.18,17.53-12.18h5.71V35.9c0-2.9-1-6.08-6.66-6.08-5.11,0-6.1,2.36-6.66,5.13H85c.53-5.93,4.2-11.49,15.17-11.44,9.52,0,14.74,3.83,14.74,12.45ZM106.5,44h-5c-6.68,0-9.67,2-9.67,6.22,0,3.17,2.06,5.66,6.12,5.66,7.52,0,8.5-5.15,8.5-10.82Z"
                          transform="translate(-6.17 -11.47)"
                        />
                        <path
                          d="M120.14,24.37h6V14h8.58V24.37h7.63V31h-7.63v19.7c0,3.14.86,4.55,4,4.55a15.71,15.71,0,0,0,2.72-.2v6.08a20.51,20.51,0,0,1-6.3.7c-6.58,0-9-3.48-9-9.81V31h-6Z"
                          transform="translate(-6.17 -11.47)"
                        />
                        <path
                          d="M179.42,50.56c0,3.58,0,7.93.08,10.75h-8.39c-.14-1-.21-3.08-.26-4.81-2,3.88-5.42,5.68-10.61,5.68-7,0-12.28-3.94-12.28-13.65V24.37h8.55V46.78c0,4.41,1.38,8.25,6.53,8.25,5.58,0,7.81-3,7.81-11.17V24.37h8.57Z"
                          transform="translate(-6.17 -11.47)"
                        />
                        <path
                          d="M189.38,34.4c0-4.32,0-7.42-.07-10h8.41c.12.92.24,4.25.24,6.94,1.76-4.56,5.9-7.7,12.11-7.8v8.3c-7.49,0-12.11,2.82-12.11,12.61V61.31h-8.58Z"
                          transform="translate(-6.17 -11.47)"
                        />
                        <path
                          d="M222.09,44.59c0,5.86,3,10.73,8.57,10.73,4.94,0,6.44-2.27,7.51-4.71h8.6c-1.38,4.62-5.38,11.57-16.35,11.57-11.93,0-17-9.25-17-18.86,0-11.33,5.77-19.81,17.37-19.81,12.35,0,16.49,9.34,16.49,18a25.35,25.35,0,0,1-.12,3.1Zm16.59-5.52c-.08-5.06-2.37-9.22-7.92-9.22s-7.94,3.87-8.45,9.22Z"
                          transform="translate(-6.17 -11.47)"
                        />
                      </svg>
                    </div>
                  </div>
                </li>
                <li
                  @mouseenter="onMouseEnterHandler(2)"
                  @mouseleave="onMouseLeaveHandler(2)"
                >
                  <div>
                    <div class="about-btn-icon">
                      <div class="about-btn-icon-arrow">
                        <svg class="arrow" viewBox="-40 -40 100 100">
                          <path
                            d="M12.83.21,10,3l4.32,4.31H1v4H14.16L10,15.45l2.83,2.82,9.16-9Z"
                          />
                        </svg>
                      </div>
                      <div class="about-btn-icon-circle"></div>
                      <span class="about-btn-icon-speed-arrow">
                        <svg class="speed-arrow" viewBox="-40 -40 100 100">
                          <path
                            d="M12.83.21,10,3l4.32,4.31H1v4H14.16L10,15.45l2.83,2.82,9.16-9Z"
                          />
                        </svg>
                      </span>
                    </div>
                    <div class="about-btn-body">
                      <!-- Free -->
                      <svg
                        id="Free"
                        class="about-svg-text about-fill"
                        :class="{ 'un-hover': hoverIndex !== 2 && hoverIndex !== -1 }"
                        viewBox="0 0 250 52"
                      >
                        <title>free</title>
                        <path
                          d="M3.65,25.71c.7-5.83,4.83-12.64,15.91-12.64,10.49,0,15.18,6.11,15.18,12.63,0,5.74-3.34,8.55-6.06,9.7v.19c3.58,1.23,8,4.42,8,11.66S32.28,62.18,19.47,62.18c-11.9,0-16.35-7.3-16.94-13.59h8.39c.78,3.65,3.42,6.84,8.84,6.84,5.65,0,8.2-3.68,8.2-8.27,0-5.22-2.95-8-8.85-8H15.22V32.46h3.36c5.37,0,7.62-1.94,7.62-6.34,0-3.7-2.33-6.22-6.92-6.22-5.19,0-6.75,2.85-7.43,5.81Z"
                          transform="translate(-2.53 -11.47)"
                        />
                        <path
                          d="M63.91,11.47H97.49v7.45H72.68V32.86H95.93v7.45H72.68v21H63.91Z"
                          transform="translate(-2.53 -11.47)"
                        />
                        <path
                          d="M103.56,34.4c0-4.32,0-7.42-.07-10h8.41c.12.92.24,4.25.24,6.94,1.76-4.56,5.9-7.7,12.1-7.8v8.3c-7.49,0-12.1,2.82-12.1,12.61V61.31h-8.58Z"
                          transform="translate(-2.53 -11.47)"
                        />
                        <path
                          d="M136.27,44.59c0,5.86,3,10.73,8.57,10.73,4.93,0,6.44-2.27,7.5-4.71h8.6c-1.37,4.62-5.37,11.57-16.34,11.57-11.93,0-17-9.25-17-18.86,0-11.33,5.77-19.81,17.36-19.81,12.36,0,16.5,9.34,16.5,18a25.35,25.35,0,0,1-.12,3.1Zm16.58-5.52c-.07-5.06-2.36-9.22-7.92-9.22s-7.93,3.87-8.45,9.22Z"
                          transform="translate(-2.53 -11.47)"
                        />
                        <path
                          d="M175.79,44.59c0,5.86,3,10.73,8.57,10.73,4.94,0,6.45-2.27,7.51-4.71h8.6c-1.37,4.62-5.38,11.57-16.34,11.57-11.94,0-17-9.25-17-18.86,0-11.33,5.77-19.81,17.36-19.81,12.36,0,16.49,9.34,16.49,18a27.64,27.64,0,0,1-.11,3.1Zm16.59-5.52c-.07-5.06-2.37-9.22-7.92-9.22s-7.94,3.87-8.45,9.22Z"
                          transform="translate(-2.53 -11.47)"
                        />
                      </svg>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollbar-track scrollbar-track-x">
        <div class="scrollbar-thumb scrollbar-thumb-x"></div>
      </div>
      <div class="scrollbar-track scrollbar-track-y">
        <div class="scrollbar-thumb scrollbar-thumb-y"></div>
      </div>
    </div>
  </div>
</div>
